<div class="menu-bar-main-contianer">
    <ul class="menu-list">
        <li class="menu-list-item"(click)="homeClick()" >
            {{ 'Home' | translate }}
        </li>
        <li class="menu-list-item" (click)="findClick()">
            {{ 'Find Us' | translate }}
        </li>
        <li class="menu-list-item" (click)="footerClick()">
            {{ 'Follow Us' | translate }}
        </li>
        <li class="menu-list-item" (click)="CartClick()">
            {{ 'E-Commerce' | translate }}
        </li>
    </ul>
</div>
